/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Links
 */
a {
	color: $color-gray-4;
	text-decoration: none;
	outline: 0;
	transition: all $anim-speed-quick $anim-ease;

	&:hover, &:focus {
		color: $color-gray-6;
	}
}
