/*------------------------------------*\
    #TEXT
\*------------------------------------*/

/**
 * Paragraph base styles
 */
p {
    margin-bottom: $space;
    letter-spacing: .1em;
}

/**
 * Blockquote base styles
 */
blockquote {
    font-style:italic;
    border-left: 1px solid $color-gray-4;
    color: $color-gray-4;
	padding-left: $pad;
	margin-bottom: $space;
}

/**
 * Horizontal rule base styles
 */
hr {
	border: 0;
    height: 2px;
    background: $color-gray-2;
    margin: $space-double 0;
}

/**
 * Abbreviation base styles
 */
abbr {
    border-bottom: 1px dotted $color-gray-4;
    cursor: help;
}

.isBold {
    font-weight: bold;
}