/*------------------------------------*\
    #HEADER
\*------------------------------------*/

/**
 * Header
 */
.c-header {
	background-color: white;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	
}

/**
 * Header Controls
 * 1) This container holds the primary nav and search menu
 */
.c-header__controls {
	display: flex;
	justify-content: space-evenly;

	Button {
	}
}

/**
 * Nav toggle button
 * 1) Styles for the general nav toggle button
 */
.nav-toggle {
	display: block;
	padding: 0.9rem 1rem 0.7rem;
	font-size: 1.3rem;
	line-height: 1;

	@media all and (min-width: $bp-med) {
		display: none;
	}

	@media all and (max-width: 17em) {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	}
}

/**
 * Search nav toggle button
 * 1) Specific nav toggle button for the search form
 */
.nav-toggle-search {
	display: block;
	
	@media all and (min-width: $bp-small-2) {
		display: none;
	}
}
