/*------------------------------------*\
    #LOGO
\*------------------------------------*/

.c-logo {
	display: block;
	max-width: 270px;

	.c-box__header & {
		max-width: 12em;
		margin: 0 auto;
	}
}

.c-logo-link {
	display: inline-block;
}
